/* ====MOBILE===== */
@media screen and (min-width: 300px){
	
    .notizie{
       width: 92%;
    }
    .commenti{
       width: 92%;
    }
    #index-banner-cont{
         height: 30rem;
         background-color: #aed6d6;
         position: relative;
         display: flex;
         flex-direction: column;
         /* align-items: bottom; */
         align-items: center;
         justify-content: center;
         overflow: hidden;
         width: 100%;
     }
     #index-banner-cont::before{
         content: "";
         background-image: url("../db/img/logo-casa-sentieriBANNER.svg");
         background-repeat: no-repeat;
         background-size: contain;
         height: 32rem;
         width: 100%;
         transform: translateY(-11em);
         -webkit-transform: translateY(-11em);
         -moz-transform: translateY(-11em);
         -ms-transform: translateY(-11em);
         -o-transform: translateY(-11em);
 }
     #banner-text-cont{
         height: 12em;
         /* padding-top: 3%; */
         position: absolute;
         bottom: 0;
         /* padding: 2rem; */
         text-align: center;
     }
     .link-sentieri{
         /* margin: 2vh 0; */
         text-decoration: none;
         letter-spacing: 0.3em; 
         height: 9vh;
         
     }
     .link-sentieri a{
         
         color:rgba(148, 8, 11, .8);
         font-size: 1.1em;
         display: inline-block;
         height: 50%;
     }
     h2 a{
         text-decoration: none;
         color: black;
     }
     h2 a:hover{
         text-decoration: none;
         color: rgb(0, 155, 159);
     }
}