/* ======================= */
/* ==== PAGINA LETTURA==== */
/* ======================= */

.container-singolo{
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
}
.immagine-singolo{
	/* width: 30%;
	height: 8rem;
	min-width: 40px;
	align-items: center;
	justify-content: right; */
	width: 100%;
    height: auto;
    /* height: auto; */
    /* min-width: 40px; */
    /* align-items: center; */
    justify-content: center;
    display: flex;
    /* flex-direction: row; */
    margin: 0% 0% 4% 0%;
    /* width: auto;*/
}
.immagine-singolo img{
	/* height: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover; */
	height: 100%;
    /* width: 97%; */
    min-height: 1vh;
    /* min-width: 100%; */
    height: 17rem;
    border-radius: 50%;
    /* object-fit: cover;*/
}
.testo-singolo{
	font-size: 1.3em;
}

.title {
	margin: 70px 0 20px 0;
	display: flex;
	vertical-align: middle;
}

.title h2 {
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.title img {
	width: auto;
	height: 40px;
}

header#primary-header {
	background: transparent;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	min-height: 50px;
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 99;
}

header#primary-header.scrolled {
	background: rgba(221, 202, 201, 0.95);
	transition: background 500ms;
	-webkit-transition: background 1500ms;
	-moz-transition: background 500ms;
	-ms-transition: background 500ms;
	-o-transition: background 500ms;
}