dt{
   width: 100%;
   height: auto;
}



/* ============================ */
/* =========MOBILE============= */
/* ============================ */

@media screen and (min-width:300px){
   .contenutostoria h4{
      font-size: 3em;
   }

}

/* ============================ */
/* =========TABLET============= */
/* ============================ */

@media screen and (min-width:600px){

}

/* ============================ */
/* =========DESKTOP============= */
/* ============================ */

@media screen and (min-width:900px){
   
 
   
  
   
 
	
}
