*{
   box-sizing: border-box;
   margin:0 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
	
}

body::-webkit-scrollbar{
   width: 0;
}


/* #first-slider::-webkit-scrollbar,
#second-slider::-webkit-scrollbar,
#video-cont::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}


#first-slider::-webkit-scrollbar-track,
#second-slider::-webkit-scrollbar-track,
#video-cont::-webkit-scrollbar-track {
	background: none;
} */

/* Handle */

/* #first-slider::-webkit-scrollbar-thumb,
#second-slider::-webkit-scrollbar-thumb,
#video-cont::-webkit-scrollbar-thumb {
	background: rgb(0, 155, 159);
} */

header#primary-header {
	background-image: url("../db/img/header.png");
	background-position: center top;
	height: 15%;
	min-height: 90px;
	max-height: 170px;
	background-size: cover;
	position: absolute;
	width: 100%;
	z-index: 99;
}

header#primary-header img {
	width: auto;
	height: 100%;
}

header.fixed#primary-header {
	position: fixed;
}

#logo {
	height: 75%;
}

/* ==================== */
/* === OVERLAY MENU === */
/* ==================== */

#overlay-menu {
	background-color: #009b9f;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	padding-top: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

#overlay-menu.active {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.8s;
}

/* === LOGO AND BUTTON === */

#secondary-header {
	background: none;
	height: 20%;
	min-height: 70px;
	background-size: cover;
	position: static;
	width: 100%;
	z-index: 99;
}

#secondary-header img {
	width: auto;
	height: 100%;
}

/* === NAV === */

#primary-nav a,
#primary-nav a:hover {
	font-weight: 600;
	color: white;
	text-decoration: none;
	font-size: 40px;
	margin-bottom: 15px;
	display: inline-block;
	padding: 10px 10px 15px 15px;
}

#primary-nav a:hover {
	background-color: #aed6d6;
}

.container.overlay {
	padding-top: 10px;
}

/* === GENERICSTUFF === */

#invisible-padding {
	height: 20%;
	min-height: 90px;
	max-height: 150px;
}

/* ================== */
/* === HAMBURGERG === */
/* ================== */

.hamburger {
	float: right;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
	background-color: white;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: #009b9f;
}

@media screen and (max-width: 645px) {
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		background-color: rgba(148, 8, 11, .8);
	}
}



/* da modificare e ricontrollare */


/* ================= */
/* === MAIN AREA === */
/* ================= */

#starter{
   margin-top: 1em;
}

/* #first-slider,
#second-slider {
	height: 150px;
	overflow-y: visible;
	overflow-x: hidden;
} */

.evidenzia{
   font-weight: bold;
}

.container{
   display: flex;
	flex-direction: column;
	margin-bottom: 10%;
	margin-top: 13vh;
}

.margin-10 {
	margin: 0 5% 0 5%;
}

.title-convento{
   /* margin: 70px 0 20px 0; */
	display: flex;
   vertical-align: middle;
   text-align: center;
   justify-content: center;
   margin-bottom: 0em;
    margin-top: 3em;
}
.title-convento h1 {
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
   margin-right: 10px;
   font-size: 2.2rem;
}

.banner-cont{
   display: flex;
   flex-direction: row;
   background-color: #aed6d6;
   overflow: hidden;
}
#index-logo-cont{
   position: absolute;
    /* padding-top: 3%; */
    width: 50%;
    /* height: 21vh; */
    
    text-align: center;
}

#index-logo-cont p{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.1em;
   color: #c65852;
   /* font-weight: bold; */
}

.banner-cont::before{
   content: "";
   background-image: url(../db/img/logo-casa-sentieriBANNER.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center bottom;
   /*transition: -20em;
   */width: 30em;
   /*height: 100%;
   */height: 53vh;
   background-size: cover;
   
   /*-webkit-transition: -20em;
   -moz-transition: -20em;
   -ms-transition: -20em;
   -o-transition: -20em;
   */
}

.title-convento img {
	width: auto;
	height: 50px;
}


.title {
	margin: 70px 0 20px 0;
	display: flex;
	vertical-align: middle;
}

.title h2 {
   font-weight: 700;
   font-size: 2rem;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}



.title img {
	width: auto;
	height: 40px;
}

/*  */

.contenitore-body{
   display: flex;
   width: 100%;
   height: 100%;
   
}

ul{
   list-style-image: url(../db/img/logo-casa-sentieriBANNER.svg);
   font-size: 1.1rem;
}
ul li{
   padding-bottom: 0.5em;
}
#convento-button-scroll {
	background-color: #009b9f;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
}

.att-periodiche p{
   padding-bottom: 1rem;
}





footer {
	/* posizionato in fondo tramite javascript (vedere pagina web salvatta traa preferiti) */
	width: 100%;
	margin-top: 3rem;
	height: 20vh;
	background-color: rgb(0, 155, 159);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	float: inline-end;
}

/* ==================== */
/* =======MOBILE======= */
/* ==================== */
@media screen and (min-width:300px){
   
   #spacer-top{
      height:25%;
      min-height:200px;
   }
   .contenitore-body{
      flex-direction: column;
   }
   .container-offerte{
      width: 100%;
   }
   .container-att-mensili{
      width: 100%;
   }
   .banner-cont{
      align-items: center;
      justify-content: flex-end;
      padding-right: 0;
      flex-direction: column;
      height: 50vh;
   }
   #index-logo-cont{
      width: 95%;
      margin-bottom: 1em;
   }
   .banner-cont::before{
      content: "";
      background-image: url(../db/img/logo-casa-sentieriBANNER.svg);
      width: 100%;
      height: 100%;
      background-size: cover;
      transform: translateY(-48%) ;
      -webkit-transform: translateY(-48%) ;
      -moz-transform: translateY(-48%) ;
      -ms-transform: translateY(-48%) ;
      -o-transform: translateY(-48%) ;
}

/* ==================== */
/* =======TABLET======= */
/* ==================== */
@media screen and (min-width: 600px){

   .banner-cont{
      height: 35vh;
   }

   .banner-cont::before{
      
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
}
   #index-logo-cont p{
      font-size: 1.3em;
   }
}

/* ==================== */
/* =======DESKTOP======= */
/* ==================== */
@media screen and (min-width:900px){
   #overlay-menu{
      display: none;
   }
   #hamburger{
      display: none;
   }
   .banner-cont{
      height: 40vh;
      justify-content: flex-end;
      width: 100%;
      padding-right: 3em;
      vertical-align: middle;
      overflow: hidden;
   }
   .banner-cont::before{
      width: 50%;
      transform: translate(-60%,-11%);
      -webkit-transform: translate(-60%,-11%);
      -moz-transform: translate(-60%,-11%);
      -ms-transform: translate(-60%,-11%);
      -o-transform: translate(-60%,-11%);
   }
   #index-logo-cont{
      /* padding-top: 10vh;
      padding-bottom: 10vh; */
      /* top: 20%;
      left: 40%; */
      top: 45%;
    left: 42%;
      width: 58%;
      height: 15vh;
   }
   #spacer-top {
      height: 20%;
      min-height: 210px ;
      /* 90px */
   }
   .contenitore-body{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .container-offerte{
      width: 45%;
      display: flex;
      flex-direction: column;
   }
   
   .container-att-mensili{
      width: 45%;
   
   }
   
   .offerte{
      padding: 0.5em;
   }
   .att-mensili{
      padding: 0.5em;
   }

}


/* =========================== */
/* =======LARGE-DESKTOP======= */
/* =========================== */
/* @media screen and (min-width:1100px){
  
} */