*{
   box-sizing: border-box;
	 margin:0 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
}
body::-webkit-scrollbar-thumb{
	background-color: rgb(0, 155, 159);
}

.margin-5 {
	margin: 0 5% 0 5%;
}

.evidenzia{
	font-weight: bold;
}

.contenitore-body ul {
	list-style: none;
}

a {
	display: inline-block;
	height: 100%;
}

.spacer-top{
	height:25%;
	min-height:10px;
}

.d-none {
	display: none;
}

#convento-button-scroll.d-none {
	display: none;
}

#convento-button-scroll {
	background-color: rgb(0, 155, 159);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
}

#header {
	height: 18vh;
	background-image: url("../db/img/header.png");
	background-position: center top;
	background-size: cover;
	width: 100%;
	min-height: 5vh;
}

#header img {
	height: 17vh;
	/* min-height: 8rem; */
	margin-left: 1em;
}

#starter{
   margin-top: 1em;
}

.default-text {
	opacity: 0.5;
}

/* =================== */
/* =======ERRORI======== */
/* =================== */

.errori {
	color: #94080b;
	float: left;
	font-size: 1.5em;
}


/* =================== */
/* =======MENU======== */
/* =================== */


#menu{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	background-color: #94080b;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.bordo{
	border: 1px solid #ccc;
	padding: 1em;
	border-radius: 15px;
	margin-bottom: 1em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.links {
	/* display: flex; */
	width: 100%;
}
.links li {
	list-style: none;
}
.notlink{
	background-color:#c65852;
	color: gainsboro;

	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	
}
.links a {
	
	color: #ccc;
	/* text-decoration: none; */
	letter-spacing: 3px;
	font-weight: bold;

}
.links li:hover{
	background-color: #c65852;
} 
.links a:visited{
	/* text-decoration:underline; */
	color:rgb(97, 178, 245);
}

/* ======================= */
/* =======PERCORSO======== */
/* ======================= */
.container-percorso-search{
	background-color: rgb(226, 226, 226);
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
fieldset.form{
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0;
	padding: 0;
}
input[type="text"]#cerca{
	margin: 0;
	padding: 0.2em;
}
input[type="submit"].cerca{
	width: 8em;
	height: 1.9em;
	margin: 0 1.2em;
	background-color: white;
	border: 1px solid white;
	border-style: outset;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
/* #search{
	align-items: flex-end;
} */
#percorso{
	width: 30%;
	height: 3em;
	display: flex;
	align-items: center;
	
	color: rgb(104, 5, 5);
}
#space {
	padding-left: 2em;
} 

/* =================== */
/* ======TITOLI======= */
/* =================== */
.title {
	margin: 70px 0 20px 0;
	display: flex;
	vertical-align: middle;

}

.title h2 {
   font-weight: 700;
   font-size: 2rem;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.title img {
	width: auto;
	height: 40px;
}

.contenitore-body{
   display: flex;
   width: 100%;
   height: 100%;
   
}

.elenco-puntato{
	padding: 0.5em;
}

.elenco-puntato ul{
   list-style-image: url(../db/img/logo-casa-sentieriBANNER.svg);
   font-size: 1.1rem;
}
ul li{
   padding-bottom: 0.5em;
}
/* ====================== */
/* =========HOME======= */
/* ====================== */

/* .title-convento{
	display: flex;
   vertical-align: middle;
   text-align: center;
   justify-content: center;
   margin-bottom: 1em;
    margin-top: 3em;
} */
.title-convento h1 {
	font-weight: bold;
	text-align: center;
	display: inline-block;
   font-size: 1.7em;
}


.ultimo-container-lista p {
	font-size: 1.1em;
	padding: 1em;
}

.ultimo-container-lista{
	width: 100%;
}

/* ============================ */
/* =========STORIA============= */
/* ============================ */
.contenutostoria h1{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 2.3em;
}

.contenutostoria dd {
	line-height: 1.5em;
	font-size: 1.1em;
	text-align: justify;
}

.contenutostoria #introduzione {
	text-align: center;
	font-style: italic;
}

.contenutostoria dt{
   width: 100%;
   height: auto;
}

.contenutostoria h2{
   font-size: 1.8em;
}

/* ============================ */
/* =========ELENCO-CARD======== */
/* ============================ */
.card-container{
	display: grid;
	
	/* grid-template-columns: 15em 15em 15em; */
}

.card {
	/*margin: 15px 0 0 0;
	width: 17rem;
	*/transition: width 0.3s ease-in-out;
	/*border: 1px solid grey;
	*/width: 17em;
	min-width: 230px;
	margin-bottom: 2rem;
	height: 18em;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	
}
.card a{
	text-decoration: none;
	color: black;
}

.card-title {
	/* background-color: rgba(198, 88, 82, 0.1); */

	border-radius: 5px 5px 0 0;
	padding: 0.7rem;
	height: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	vertical-align: middle;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}
.card-title h3{
	font-size: medium;
	 font-weight: bold;
	text-decoration: none;
}
.card-img {
	
	height: 6em;
	width: 100%;
	overflow: hidden;
	
}
.card-img img {
	/* width: 0em;
	min-width: 100%;
	object-fit: cover; */
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
}
.card-text {
	/* background-color: rgba(198, 88, 82, 0.1); */
	border-radius: 0 0 5px 5px;
	/* padding: 0.5em; */
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}
.card-text p{
	text-align: center;
	padding: 0.9em;
}

.card:hover h3{
	color: #009b9f;
}

/* ======================= */
/* ==== PAGINA LETTURA==== */
/* ======================= */
.content{
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	border: 1px solid #ccc;
	padding: 1.5em;
	border-radius: 5%;
	background-color: rgb(226, 226, 226);
}

#title{
	display: flex;
	flex-direction: column;
}
#image{
	width: 100%;
    height: 20em;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    margin: 4% 0%;
    align-items: center;
}
#image img{
	height: 100%;
	width: 58%;
	/* min-height: 1vh; */
	height: 100%;
	/* border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%; */
}
#text{
	font-size: 1.3em;
}

.title {
	margin: 70px 0 20px 0;
	display: flex;
	vertical-align: middle;
}

.title h2 {
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.title img {
	width: auto;
	height: 40px;
}

/* header#primary-header {
	background: transparent;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	min-height: 50px;
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 99;
}

header#primary-header.scrolled {
	background: rgba(221, 202, 201, 0.95);
	transition: background 500ms;
	-webkit-transition: background 1500ms;
	-moz-transition: background 500ms;
	-ms-transition: background 500ms;
	-o-transition: background 500ms;
} */
/* ============================ */
/* =========AMMINISTRATORE===== */
/* ============================ */

.container-home-amministratore{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.title-a{
   display: flex;
	align-items: center;
	/* margin: 15px 0 15px 0; */
	padding: 12px 0 12px 0;
	margin-bottom: 1.5em;
}
.title-a h2 {
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.7em;
}

.title-a h2 a{
	color: black;
	text-decoration: none;
}

.title-a img {
	width: auto;
	height: 40px;
}
.scelta-azione ul li a{
	text-decoration: none;
	color: #ccc;
	font-size: 1.1em;
	background-color: #c65852;
	padding: 0.3em 2em;
    width: 10em;
    text-align: center;
}
.scelta-azione ul{
	list-style: none;
	display: flex;
}
.scelta-azione ul li{
	padding: 1.3em;
}
/* .scelta-azione ul li:hover{
	background-color: #ccc;
} */
.scelta-azione li:hover a{
	color: rgb(0, 155, 159);
}
.Titolo-aggiungi{
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: row;
	margin: 5% 5%;
}
.Titolo-aggiungi img{
	width: auto;
	height: 60px;
}
.Titolo-aggiungi h1{
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
}
.container-amministration{
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
	max-width: 1100px;
}
#container-login{
	margin-top: 20vh;
	margin-left: 9%;
	padding: 1em;
	border: 1px solid #ccc;
}
.title-amministration{
	display: flex;
	width: 35%;
	max-width: 250px;
}
.title-amministration img{
	width: auto;
    height: 40px;
}
.title-amministration label{
	font-size: 1.8em;
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

fieldset{
	display: flex;
	
	margin-bottom: 5vh;
	border: none;
}

.text-box{
	width: 70%;
	vertical-align: middle;
	margin-left: 2em;
}
.immagini-box{
	width: 25%;
	vertical-align: middle;
	margin-left: 2em;
}
.altimmagini-title{
	width: 17%;
	font-size: 1.8em;
	font-weight: 700;
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	max-width: 200px;
}
.altimmagine-box{
	width: 25%;
}
input[type=file]{
	font-family: sans-serif;
}
input[type=text], input[type=blob], input[type=password] {
	width: 100%;
	font-family: sans-serif;
	padding: 12px 20px;
	margin: 0.8em 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.2em;
}



textarea#Testo {
	font-family: sans-serif;
	
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em; 
}
textarea#Link{
	height: 40vh;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em; 
}
.button-aggiungi{
	width: 100%;
	/* text-align: center; */
	justify-content: center;
}
.aggiungi{
	padding: 0.5rem 5rem;
   background-color: #c65852;
   height: auto;
   margin: 0 auto;
   text-decoration: none;
   color: #aed6d6;
	font-size: 1.5em;
	border: none;
}





/* ============================ */
/* =========LOGIN============= */
/* ============================ */
#container-login{
   margin-top: 20vh;
	margin-left: 9%;
	padding: 1em;
   border: 1px solid #ccc;
}



/* ====================== */
/* =========FOOTER======= */
/* ====================== */

#footer {
	/* posizionato in fondo tramite javascript (vedere pagina web salvatta traa preferiti) */
	width: 100%;
	margin-top: 3rem;
	/* height: 20vh; */
	background-color: rgb(0, 155, 159);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	float: inline-end;
}
/* #contatti{
	display: flex;
	flex-direction: column;
	width: 30%;
} */
/* #login{
	align-items: center;
	margin-top: 50%;
} */
#login{
	display: flex;
    width: 100%;
    margin: 1em 0;
    align-items: center;
    justify-content: center;
	
}
#login p{
	width: 30%;
	background-color: #c65852;
	padding: 0.3em 2em;
	text-align: center;
}
/* .end-footer{
	width: 100%;
	text-align: center;
	padding: 0.5em;
} */

.container-text-footer{
	padding: 1em;
}

/* ============================ */
/* ============================ */
/* =========MEDIA-QUERY========*/
/* ============================ */
/* ============================ */



/* ============================ */
/* =========MOBILE============= */
/* ============================ */

@media screen and (min-width:300px){

	#menu{
		width: 100%;
		height: 100%;
		display: flex;
		position: stickys;
		top: 0;
	}
	.links {
		display: grid;
		grid-template-columns: auto auto ;
		padding: 0;

	}
	.links li{
		/* border: 1px solid #ccc; */
   	padding: 0.4em;
   	font-size: 1.3em;
   	text-align: center;
	}
	.notlink li{
		padding: 0.5em 1.5em 0.2em 1.5em;
    /* color: rgb(226, 226, 226); */
    color: #ccc;
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.1em;
	}
	/* ================ */
	/* ======HOME===== */
	/* ================ */
	.contenitore-body{
      flex-direction: column;
      width: 100%;
   }
   .container-lista{
      flex-direction: column;
      width: 100%;
   }

   .convento{
      display: none;
   }
   .title-convento img{
      display: none;
	}
	
	/* ========================= */
	/* ======AMMINISTRATORE===== */
	/* ========================= */


	.scelta-azione ul{
		flex-direction: column;
	}
	fieldset{
		flex-direction: column;
	}
	.align{
		justify-content: start;
		align-items: flex-start;
	}
	.text-box{
		width: 70%;
	}
	.immagini-box{
		width: 70%;
		margin-bottom: 1em;
		margin: 2em;
	}
	.altimmagine-box{
		width: 70%;
		margin-left: 2em;
	}
	textarea#Testo{
		width: 13em;
	 	height: 18em;
	}
	#footer{
		flex-direction: column;
	}
}

/* ============================ */
/* =========TABLET============= */
/* ============================ */

@media screen and (min-width:600px){

	/* ================ */
	/* ======HOME===== */
	/* ================ */
	#presentazione-convento{
      background-color: rgb(226, 226, 226);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     border: 1px solid #ccc;
     border-radius:  30px ;
     -webkit-border-radius:  30px ;
     -moz-border-radius:  30px ;
     -ms-border-radius:  30px ;
     -o-border-radius:  30px ;
}

   .convento{
      /* display: block; */
      display: flex;
      /* position: absolute; */
      justify-content: left;
      width: 25%;
   }
   .convento img{
      width: 100%;
      height: 100%;
      border-radius: 30px 0 0 30px;
      -webkit-border-radius: 30px 0 0 30px;
      -moz-border-radius: 30px 0 0 30px;
      -ms-border-radius: 30px 0 0 30px;
      -o-border-radius: 30px 0 0 30px;
}
   .title-convento{
		display: flex;
      /* align-items: end; */
		width: 70%;
		margin-left: 2em;
   }
   .title-convento img {
      display: inline;
      width: auto;
      width: 20%;
	}
	.links{
		grid-template-columns: 10em 11em 15em 12em;
	}
   .title-convento h1{
      color:  #94080b;
	}
	.card-container{
		grid-template-columns: auto auto;
		justify-content: space-evenly;
	}
	#footer{
		flex-direction: row;
	}
}

/* ============================ */
/* =========DESKTOP============= */
/* ============================ */

@media screen and (min-width:900px){
	
	.links{
		/* grid-template-columns: auto auto auto auto auto auto; */
		grid-template-columns: 7em 8em 13em 10em 7em 8em 7em;
	}
	.contenitore-body{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .container-lista{
      width: 45%;
      display: flex;
      flex-direction: column;
	}
	.card-container{
		grid-template-columns: auto auto auto;
		justify-content: space-evenly;
	}
	
	/* ================================== */
	/* ============AMMINISTRATORE======== */
	/* ================================== */
	.scelta-azione ul{
		flex-direction: row;
		justify-content: space-evenly;
	}
	fieldset{
		flex-direction: row;
	}
	.align{
		vertical-align: middle;
		align-items: center;
	}
	textarea#Testo{
		height: 75vh;
		width: 35em;
	}
	
}
