*{
	box-sizing: border-box;
	margin:0 0;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
}
body::-webkit-scrollbar {
	height: 11px;
	width: 6px;
	}

	body::-webkit-scrollbar {
		height: 4px;
		width: 4px;
		}
		body::-webkit-scrollbar-thumb {
		background: #035659;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	}
		body::-webkit-scrollbar-corner {
			background:#035659;
		}

.margin-5 {
	margin: 0 5% 0 5%;
}

.content-search {
	margin: 0 5% 0 5%;
}
.content-search dt {
	padding: 0 0 0 3em;
}
.content-search dd {
	padding: 0 0 1em 5em;
}
.content-search h2 {
	padding: 0.5em 0 0.5em 1em;
}
.content-search a{
	color: black;
	width: 100%;
}
.content-search a:hover{
	color: #035659;
}
.content-search p {
	padding: 0 0 0 3em;
}

.evidenzia{
	font-weight: bold;
}

.contenitore-body ul {
	list-style: none;
}

a {
	display: inline-block;
	height: 100%;
}

.spacer-top{
	height:25%;
	min-height:10px;
}

.d-none {
	display: none;
}

.hiddenHelp {
	text-indent: -9999px;
}
#convento-button-scroll.d-none {
	display: none;
}

#convento-button-scroll {
	background-color: #035659;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
}

#header {
	background-image: url("../db/img/header.png");
	background-position: center top;
	background-size: cover;
	width: 100%;
	min-height: 3vh;
}
#header img {
	padding: 1vh 0 1vh 1vh;
	height: 15vh;
	margin-left: 1em;
}



#starter{
	margin-top: 1em;
}

.default-text {
	opacity: 0.5;
	background-color: white;
}

/* =================== */
/* ==ERRORI/SUCCESSO== */
/* =================== */

.errori {
	width: 100%;
	color: #ff0000;
	float: left;
	font-size: 1.5em;
	max-height: 2em;
}

a.errori {
	font-weight: bold;
}

a.erroresingolo {
	width: 100%;
	color: #ff0000;
	font-size: 2em;
	max-height: 2em;
	text-align: center;
	font-weight: bold;
}

.successo {
	margin: 0 0 3em 5%;
	color: #00d221;
	font-size: 2em;
}

a.successo {
	font-weight: bold;
}


/* =================== */
/* =======MENU======== */
/* =================== */
#menu{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	background-color: #94080b;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.bordo{
	border: 1px solid #ccc;
	padding: 1em;
	border-radius: 15px;
	margin-bottom: 1em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.links {
	width: 100%;
}
.links li {
	list-style: none;
}
.notlink{
	background-color:#c65852;
	color: gainsboro;

	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	
}
.links a {
	
	color: #ccc;
	letter-spacing: 3px;
	font-weight: bold;

}
.links li:hover{
	background-color: #c65852;
} 
.links a:visited{
	color:rgb(97, 178, 245);
}

/* ======================= */
/* =======PERCORSO======== */
/* ======================= */
#search{
	background-color: rgb(226, 226, 226);
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em;
}
fieldset.form{
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.textbutton{
	display: flex;
	flex-direction: row;
	align-items: center;
}
input[type="text"]#cerca{
	min-width: 3em;
	float: left;
	background-color: white;
	margin: 0;
	padding: 0.2em;
	border: 1px solid black;
}
input[type="submit"].cerca{
	float: left;
	width: 8em;
	height: 1.9em;
	margin: 0 1.2em;
	background-color: white;
	border: 1px solid black;
	border-style: outset;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#percorso{
	font-size: 1.1em;
	width: 100%;
  padding-top: 2em;
	height: 3em;
	display: flex;
	align-items: center;
	color: rgb(104, 5, 5);
}
#space {
	padding-left: 2em;
	width:100%
} 

/* =================== */
/* ======TITOLI======= */
/* =================== */
.title {
	margin: 1.5em 0;
	display: flex;
	vertical-align: middle;
	align-items: center;

}
.title h1{
	font-weight: bold;
   font-size: 2.6em;
	display: inline-block;
	margin-left: 0.5em;
}

.title h2 {
   font-weight: 700;
   font-size: 1.7em;
	display: inline-block;
	margin-left: 0.5em;
}

.title img {
	width: auto;
	height: 40px;
}

.contenitore-body{
   display: flex;
   width: 100%;
   height: 100%;
   
}

.elenco-puntato{
	padding: 0.5em;
}

.elenco-puntato ul{
   list-style-image: url(../db/img/logo-casa-sentieriBANNER.svg);
   font-size: 1.1rem;
}
ul li{
   padding-bottom: 0.5em;
}
/* ====================== */
/* =========HOME======= */
/* ====================== */

.title-convento h1 {
	font-weight: bold;
	text-align: center;
	display: inline-block;
   font-size: 2.3em;
}
.ultimo-container-lista p {
	font-size: 1.1em;
	padding: 1em;
}

.ultimo-container-lista{
	width: 100%;
}

/* ============================ */
/* =========STORIA============= */
/* ============================ */
/* .contenutostoria h1{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 2.3em;
} */

.storia-contenuto p{
	line-height: 1.5em ;
	font-size: 1.1em;
	text-align: justify;
}

.contenutostoria #introduzione {
	text-align: center;
	font-style: italic;
}

.contenutostoria dt{
   width: 100%;
   height: auto;
}

.contenutostoria h2{
   font-size: 1.8em;
}

/* ============================ */
/* =========ELENCO-CARD======== */
/* ============================ */
.card-container{
	display: grid;
}

.card {
	transition: width 0.3s ease-in-out;
	width: 80%;
	min-width: 230px;
	margin-bottom: 2rem;
	height: 18em;
	border: 2px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	
}
.card a{
	text-decoration: none;
	color: black;
}

.card-title {
	border-radius: 5px 5px 0 0;
	padding: 0.7rem;
	height: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	vertical-align: middle;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}
.card-title h3{
	font-size: medium;
	 font-weight: bold;
	text-decoration: none;
}
.card-img {
	width: 100%;
	height: 6em;
	overflow: hidden;
}
.card-img img {
	width: 100%;
	object-fit: cover;
	padding: 0 0.2em
}
.card-text {
	border-radius: 0 0 5px 5px;
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}
.card-text p{
	text-align: center;
	padding: 0.9em;
}

.card:hover h3{
	color: #009b9f;
}

/* ======================= */
/* ==== PAGINA LETTURA==== */
/* ======================= */
.content{
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px solid rgb(148, 148, 148);
	padding: 1.5em;
	border-radius: 13px;
	background-color: rgb(245, 245, 245);
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
}

#title{
	display: flex;
	flex-direction: column;
}
#image{
	width: 100%;
    height: 20em;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    margin: 4% 0%;
    align-items: center;
}
#image img{
	/* height: 100%; */
	width: 86%;
	/* height: 100%; */
	max-width: 500px;
}
#text{
	font-size: 1.3em;
}



/* ============================ */
/* =========AMMINISTRATORE===== */
/* ============================ */


#annulla-operazione{
	/*background-color: rgba(198, 88, 82, 0.6);
	width: 2em;
	height: 2em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
	margin: 2em 0;*/
	background-color: #94080b;;
	width: 10em;
	height: 2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: white;
	line-height: 1.5rem;
	cursor: pointer;
	margin: 1.5em 0;
	
}
#abort{
	/*color: rgba(198, 88, 82, 0.6);
	position: relative;
	left: 8%;
	padding: 0 0 1em 3.5em;
	display: inline;*/
}
#abort a:hover {
	color: #035659;
}
.container-home-amministratore{
	display: flex;
	flex-direction: column;
	width: 100%;
}

fieldset.admin{
	display: flex;
	flex-direction: column;
}
.radio{
	margin-left: 2em;
}
input[type=radio]{
	margin-bottom: 2em;
}
button[type=submit]{
	min-width: 6em;
	min-height: 2.2em;
	padding: 0.5em 2em;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	margin: 0 1.2em;
	background-color: burlywood;
	border: 1px solid white;
	border-style: outset;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

}

.title-a{
   display: flex;
	align-items: center;
	padding: 12px 0 12px 0;
	margin-bottom: 1.5em;
}
.title-a h2 {
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.7em;
}

.title-a h2 a{
	color: black;
	text-decoration: none;
}

.title-a img {
	width: auto;
	height: 40px;
}
.scelta-azione ul li a{
	text-decoration: none;
	color: #ccc;
	font-size: 1.1em;
	background-color: #c65852;
	padding: 0.3em 2em;
    width: 10em;
    text-align: center;
}
.scelta-azione ul{
	list-style: none;
	display: flex;
}
.scelta-azione ul li{
	padding: 1.3em;
}
.scelta-azione li:hover a{
	color: #035659;
}
.Titolo-aggiungi{
	display: flex;
	flex-direction: row;
	margin: 3% 5%;
}
.Titolo-aggiungi img{
	width: auto;
	height: 60px;
}
.Titolo-aggiungi h1{
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
}
.container-amministration{

	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
	max-width: 1100px;
}

.title-amministration{
	display: flex;
	width: 27%;
	margin-bottom: 2em;
}
.title-amministration img{
	width: auto;
    height: 40px;
}
.title-amministration label{
	font-size: 1.8em;
	font-weight: 700;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

fieldset{
	display: flex;
	
	margin-bottom: 5vh;
	border: none;
}

.text-box{
	width: 70%;
	vertical-align: middle;
	margin-left: 2em;
}
.immagini-box{
	width: 25%;
	vertical-align: middle;
	margin-left: 2em;
}
.altimmagini-title{
	width: 17%;
	font-size: 1.8em;
	font-weight: 700;
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	max-width: 200px;
}
.altimmagine-box{
	width: 25%;
}
input[type=file]{
	font-family: sans-serif;
}
input[type=text], input[type=blob], input[type=password] {
	width: 100%;
	min-width: 13em;
	font-family: sans-serif;
	padding: 12px 20px;
	margin: 0.8em 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.2em;
}



textarea#Testo {
	font-family: sans-serif;
	min-width: 13em;
   min-height: 18em;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.2em; 
}
textarea#Link{
	height: 40vh;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em; 
}
.button-conferma{
	display: block;
	width: 100%;
	text-align: center;
}
.aggiungi{
	padding: 0.5rem 5rem;
   background-color: #c65852;
   height: auto;
   margin: 0 auto;
   text-decoration: none;
   color: #aed6d6;
	font-size: 1.5em;
	border: none;
}

/* ============================ */
/* =========LOGIN============= */
/* ============================ */
#container-login{
   margin-top: 2%;
	margin-left: 9%;
	padding: 1em;
   border: 1px solid #ccc;
}

/* ====================== */
/* =========FOOTER======= */
/* ====================== */

#footer {
	width: 100%;
	margin-top: 3rem;
	background-color: #035659; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 1em 0;
	clear: both;
}
.padding-05{
	padding: 0.5em;
}

#login{
	display: flex;
    width: 100%;
    margin: 1em 0;
    align-items: center;
    justify-content: center;
	
}
#login p{
	width: 70%;
	padding: 0.3em 2em;
	
	text-align: center;
}
#login p a{
	color: white;
	letter-spacing: 0.1em;
}

.container-text-footer{
	padding: 1em;

}
 .TornaSu{
	position: absolute;
	left: -9999px;
} 
#TornaSu {
	background-color: rgba(198, 88, 82, 0.6);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 3%;
	right: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white; 
	line-height: 1.5rem;
	cursor: pointer;
}

/* ============================ */
/* ============================ */
/* =========MEDIA-QUERY========*/
/* ============================ */
/* ============================ */


/* ============================ */
/* =========MOBILE============= */
/* ============================ */

@media screen and (min-width:300px){
	#presentazione-convento{
		background-color: rgb(226, 226, 226);
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid #ccc;
		padding: 0.5em;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
	 }
	input[type="text"]#cerca {
		width: 10em;
	}
	 fieldset.form{
		margin-left: 0.5em;
		margin-bottom: 0;
	 }

	#menu{
		width: 100%;
		height: 100%;
		display: flex;
		position: stickys;
		top: 0;
	}
	.links {
		display: grid;
		grid-template-columns: auto auto ;
		padding: 0;

	}
	.links li{
   	padding: 0.4em;
   	font-size: 1.3em;
   	text-align: center;
	}
	.notlink li{
		padding: 0.5em 1.5em 0.2em 1.5em;
		color: #ccc;
		text-decoration: underline;
		letter-spacing: 3px;
		font-weight: bold;
		font-size: 1.1em;
	}

	/* ================ */
	/* ======CERCA===== */
	/* ================ */
	input[type="text"]#cerca{
		width: 8em;
	}

	/* ================ */
	/* ======HOME===== */
	/* ================ */
	
	.title-convento h1{
		padding: 0.3em;
      color:  #94080b;
	}
	.contenitore-body{
      flex-direction: column;
      width: 95%;
   }
   .container-lista{
      flex-direction: column;
      width: 100%;
   }

   .convento{
      display: none;
   }
   .title-convento img{
      display: none;
	}
	
	/* ========================= */
	/* ======AMMINISTRATORE===== */
	/* ========================= */


	.scelta-azione ul{
		flex-direction: column;
	}
	fieldset{
		flex-direction: column;
	}
	.align{
		justify-content: start;
		align-items: flex-start;
	}
	.text-box{
		width: 70%;
	}
	.immagini-box{
		width: 70%;
		margin-bottom: 1em;
		margin: 2em;
	}
	.altimmagine-box{
		width: 70%;
		margin-left: 2em;
	}	
	.container-percorso-search{
		flex-direction: column;
		align-items: flex-start;
	} */
	.textbutton{
		display: flex;
		align-items: center;
	}
	#footer{
		flex-direction: column;
	}

	/* ================ */
	/* ======ADMIN===== */
	/* ================ */
	.option-admin{
		height: 15em;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}

/* ============================ */
/* =========TABLET============= */
/* ============================ */

@media screen and (min-width:600px){

	/* ================ */
	/* ======HOME===== */
	/* ================ */
	#presentazione-convento{
      
     flex-direction: row;
	  justify-content: space-between;
	  padding: 0;
     border-radius:  30px ;
     -webkit-border-radius:  30px ;
     -moz-border-radius:  30px ;
     -ms-border-radius:  30px ;
     -o-border-radius:  30px ;
	}
	input[type="text"]#cerca {
		width: 15em;
	}

	fieldset.form{
		margin-bottom: 0;
		padding: 0;
	}
   .convento{
      display: flex;
      justify-content: left;
      width: 16%;
   }
   .convento img{
      width: 100%;
      height: 100%;
      border-radius: 30px 0 0 30px;
      -webkit-border-radius: 30px 0 0 30px;
      -moz-border-radius: 30px 0 0 30px;
      -ms-border-radius: 30px 0 0 30px;
      -o-border-radius: 30px 0 0 30px;
}
   .title-convento{
		display: flex;
		width: 78%;
		margin-left: 1em;
		margin-right: 1em;
   }
   .title-convento img {
      display: inline;
      width: auto;
      width: 20%;
	}
	.links{
		grid-template-columns: 10em 11em 15em 12em;
	}
	
	input[type="text"]#cerca{
		width: 15em;
	}

	.card-container{
		grid-template-columns: auto auto;
		justify-content: space-evenly;
	}
	p.no-file{
		font-size: 1.5em;
    padding: 1em;
	}
	.container-percorso-search{
		flex-direction: row;
		justify-content: space-between;align-items: center;
	}
	#footer{
		flex-direction: row;
	}

	/* ================ */
	/* ======ADMIN===== */
	/* ================ */
	.option-admin{
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}

/* ============================ */
/* =========DESKTOP============= */
/* ============================ */

@media screen and (min-width:900px){
	
	.links{
		grid-template-columns: 7em 8em 13em 10em 7em 8em 7em;
	}
	.contenitore-body{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .container-lista{
      width: 45%;
      display: flex;
      flex-direction: column;
	}
	.card-container{
		grid-template-columns: auto auto auto;
		justify-content: space-evenly;
	}
	
	/* ================================== */
	/* ============AMMINISTRATORE======== */
	/* ================================== */
	.scelta-azione ul{
		flex-direction: row;
		justify-content: space-evenly;
	}
	fieldset{
		flex-direction: row;
	}
	.align{
		vertical-align: middle;
		align-items: center;
	}
	
	
}
